<div class="localizacao">
	<p>Brasil</p>
	<hr>
</div>

<div class="central">
	<div class="footer-lista">
			<ul class="footer-lista-left">
					<li>
							<a routerLink="sobre">Sobre</a>
					</li>
					<li>
							<a routerLink="publicidade">Publicidade</a>
					</li>
					<li>
							<a routerLink="negocios">Negócios</a>
					</li>
					<li>
							<a routerLink="como-funciona">Como funciona a Pesquisa</a>
					</li>
			</ul>
	</div>

	<div class="footer-lista2">
			<ul class="footer-lista-right">
					<li>
							<a routerLink="privacidade">Privacidade</a>
					</li>
					<li>
							<a routerLink="termos">Termos</a>
					</li>
					<li>
							<a routerLink="definicoes">Definições</a>
					</li>
			</ul>
	</div>
</div>