.menu-top {
	display: flex;
	list-style: none;
	position: absolute;
	top: 0;
	right: 0;
	align-items: center;
}

.menu-top li {
	margin-right: 25px;
}

.menu-top a {
	text-decoration: none;
	color: black;
}

.menu-top a:hover {
	text-decoration: underline;
}

.entrar {
	background-color: blue;
	color: white;
	border: none;
	padding: 10px 20px;
	margin-right: 15px;
	border-radius: 5px;
}

.entrar:hover {
	background-color: #4169E1;
	cursor: pointer;
}

.fa-solid fa-grid {
	color: black;
}